<body>
<div id="app-login">
  <img class="background-image" src="assets/my-assets/images/login/login-bottom-left.svg">
  <main>

    <div class="left">
      <img src="../../../../assets/my-assets/images/login/login-left.svg" alt="login-left"/>
      <img class="login-top-left" src="assets/my-assets/images/login/login-top-left.svg" alt="login-top-left">
      <img class="login-bottom-left" src="assets/my-assets/images/login/login-bottom-left.svg"
           alt="login-bottom-left">
    </div>

    <div class="right">

      <div class="register-form">
        <h2>Register</h2>

        <form nzform [formGroup]="form" class="registerForm">
          <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
          <nz-form-item>
            <nz-form-control nzHasFeedback>
              <input
                nz-input
                class="input-form-control"
                formControlName="username"
                type="text"
                placeholder="Username"
                autocomplete=”off”
              >
            </nz-form-control>
          </nz-form-item>


          <nz-form-item>
            <nz-form-control nzHasFeedback>
              <input
                nz-input
                class="input-form-control"
                formControlName="password"
                type="password"
                placeholder="Password"
                autocomplete=”off”
              >
            </nz-form-control>

          </nz-form-item>


          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="combineTp3">
              <input
                nz-input
                class="input-form-control"
                formControlName="email"
                type="email"
                placeholder="Email"
                autocomplete=”off”
              >

              <ng-template #combineTp3 let-control>
                <ng-container *ngIf="control.hasError('maxlength')">MaxLength is 12</ng-container>
                <ng-container *ngIf="control.hasError('required')">Email is required</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>


        </form>

        <button [style.background-color]="(!form.valid) === true ? 'grey':'#ff7300'"
                class="login-button"
                [disabled]="!form.valid" (click)="toRegister()">Register
        </button>
      </div>

      <div class="other-login">
        <p [routerLink]="['/login']">Login</p>
        <p> | </p>
        <p [routerLink]="['/forget-password']">Forget Password</p>
      </div>

      <img class="login-bottom-mid" src="assets/my-assets/images/login/login-bottom-mid.svg"
           alt="login-bottom-mid">

      <img class="login-bottom-right" src="assets/my-assets/images/login/login-bottom-right.svg"
           alt="login-bottom-right">
    </div>
  </main>
</div>
</body>
