<body>
<div id="app-login">
  <img class="background-image" src="assets/my-assets/images/login/login-bottom-left.svg">
  <main>

    <div class="left">
      <img src="assets/my-assets/images/login/login-left3.svg" alt="login-left"/>
      <img class="login-top-left" src="assets/my-assets/images/login/login-top-left.svg" alt="login-top-left">
      <img class="login-bottom-left" src="assets/my-assets/images/login/login-bottom-left.svg"
           alt="login-bottom-left">
    </div>

    <div class="right">

      <div class="login-form">
        <h2>Register</h2>

        <form nzform [formGroup]="form" class="registerForm">
          <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
          <nz-form-item>
            <nz-form-control [nzErrorTip]="combineTp1">
              <input
                class="input-form-control"
                formControlName="username"
                name="username"
                type="text"
                placeholder="Username"
                autocomplete=”off”
                maxLength="20"
                minLength="6"
                required>
              <ng-template #combineTp1 let-control>
                <ng-container *ngIf="control.hasError('minLength')">最短长度为6</ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">请输入联系邮箱</ng-container>
                <ng-container *ngIf="control.hasError('required')">该项必填</ng-container>
                <ng-container *ngIf="control.hasError('pattern')">联系邮箱不符合要求</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>


          <nz-form-item>
            <nz-form-control [nzErrorTip]="combineTp2">
              <input
                class="input-form-control"
                formControlName="password"
                name="password"
                type="password"
                placeholder="Password"
                autocomplete=”off”
                maxLength="20"
                minLength="6"
                required>

              <ng-template #combineTp2 let-control>
                <ng-container *ngIf="control.hasError('minLength')">最短长度为6</ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">请输入联系邮箱</ng-container>
                <ng-container *ngIf="control.hasError('required')">该项必填</ng-container>
                <ng-container *ngIf="control.hasError('pattern')">联系邮箱不符合要求</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>


          <nz-form-item>
            <nz-form-control [nzErrorTip]="combineTp3">
              <input
                class="input-form-control"
                formControlName="email"
                name="email"
                type="email"
                placeholder="Email"
                autocomplete=”off”
                maxLength="50"
                minLength="6"
                required
              >


              <ng-template #combineTp3 let-control>
                <ng-container *ngIf="control.hasError('minLength')">最短长度为6</ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">请输入联系邮箱</ng-container>
                <ng-container *ngIf="control.hasError('required')">该项必填</ng-container>
                <ng-container *ngIf="control.hasError('pattern')">the format of email is not right</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>


        </form>

        <button [style.background-color]="(!isDisabledButton && !form.valid) === true ? 'grey':'#ff7300'"
                class="login-button"
                [disabled]="!isDisabledButton && !form.valid" (click)="toRegister()">Register
        </button>
      </div>

      <div class="other-login">
        <p [routerLink]="['/login']">Login</p>
        <p> | </p>
        <p (click)="forgetPassword()">Forget Password</p>
      </div>

      <img class="login-bottom-mid" src="assets/my-assets/images/login/login-bottom-mid.svg"
           alt="login-bottom-mid">

      <img class="login-bottom-right" src="assets/my-assets/images/login/login-bottom-right.svg"
           alt="login-bottom-right">
    </div>
  </main>
</div>
</body>
