<!--<div class="topbar" id="top">-->
<!--  <div class="header6">-->

<!--    <div class="container po-relative">-->

<!--      &lt;!&ndash;导航栏菜单&ndash;&gt;-->
<!--      <nav class="navbar navbar-expand-lg h6-nav-bar">-->
<!--        <a class="navbar-brand" [routerLink]="['/layout']">-->
<!--          <img src="/assets/images/logos/white-text.png" alt="pumkins"/>-->
<!--        </a>-->

<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info"-->
<!--                aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          <span class="ti-menu"></span>-->
<!--        </button>-->

<!--        &lt;!&ndash;菜单&ndash;&gt;-->
<!--        <app-header-menu class="ml-auto"></app-header-menu>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--图片样式1-->
<!--<app-header-content></app-header-content>-->


<div class="app-header">

<!--  <nav [hidden]="getTheHighOfScroll() >= 550" class="header-nav">-->
  <nav [hidden]="showNav" class="header-nav">
    <div class="left">

      <a [routerLink]="['/home']">Home</a>

      <a [routerLink]="['/blog']">Blog</a>

      <a [routerLink]="['/memory']">TimeLine</a>

<!--      <a [routerLink]="['/emotion']">Emotion</a>-->

<!--      <a [routerLink]="['/guide']">Guide</a>-->

      <a [routerLink]="['/about']">About</a>

    </div>

    <div class="right">
      <!--      <img *ngIf="!showIcon" class="right-img" [src]="user-center.icon" alt="pumkins"/>-->
      <img *ngIf="!showIcon" class="right-img" [src]="user.icon" alt="pumkins"/>
      <a *ngIf="!showIcon" class="right-username">
        <ellipsis length="8" tail="" tooltip="false" nz-dropdown nz-icon nzType="down"
                  [nzDropdownMenu]="menu2">{{user.username}}
        </ellipsis>
      </a>

      <nz-dropdown-menu #menu2="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item [routerLink]="['/user-center']">个人中心</li>
          <li nz-menu-item>修改头像</li>
          <li nz-menu-item [routerLink]="['/add-blog']">发布文章</li>
          <li nz-menu-item [routerLink]="['/backend-manage']">后台管理</li>
          <li nz-menu-item (click)="logout()">logout</li>
        </ul>
      </nz-dropdown-menu>

      <a *ngIf="showIcon" [routerLink]="['/login']">Sign in</a>
      <a *ngIf="showIcon" [routerLink]="['/register']">Register</a>


    </div>
  </nav>

  <header class="header-picture">
    <div class="header-img" *ngFor="let img of imgList">
      <img class="dynamic-img" [src]="img" alt="header-picture">
    </div>
    <div class="header-txt">
      <P>Sucre & Cindy</P>
    </div>
  </header>


  <!--  <header>-->
  <!--    <div class="header-img">-->
  <!--      <img [src]="pictureSrc" alt="header-picture">-->
  <!--    </div>-->
  <!--  </header>-->


</div>

