<div class="main">
  <div class="article-detail">
    <div class="slider-bar">

      <div class="slider-bar-title">Agenda</div>
      <div *ngFor="let title of outline" class="slider-bar-body">
        <p [class]="title.tagType" (click)="jumpToContent(title.id)">{{title.name}}</p>
      </div>
    </div>

    <div class="article-title">
      <!--      <h2 class="h2-title">文章预览</h2>-->
      <h2>文章预览
        <span class="fa-solid fa-pen-to-square" (click)="editArticle()"></span>
      </h2>

      <p>
        <span>发布时间 :<i>{{blog.updateDate}}</i></span>
        <span>作者 :<i>{{blog.username}}</i></span>
      </p>

      <div>
        <i title="Tag" class="fas fa-tags"></i>
        <span *ngFor="let tag of blog.tags">
          <i style="margin-right: 10px; font-size:14px; color:#e4ad0d; margin-bottom: 5px;">{{tag}}</i>
        </span>
      </div>
    </div>

    <div class="article-content">
      <div hidden id="vditor"></div>
      <!--      <div id="vditor"></div>-->
      <div id="innerHTML-content" class="vditor-reset article-content-innerHTML"
           [innerHTML]="innerHTML | safeHtml"></div>
    </div>
    <div class="submit-comment">
      <div class="submit-comment-title">Submit Comment</div>

      <div class="submit-comment-body">
        <textarea class="submit-comment-body-textarea" [(ngModel)]="comment" rows="10"></textarea>
        <button (click)="saveComment()" class="submit-comment-body-button">submit</button>
      </div>


      <div class="submit-comment-footer">
        <p>
          <span>49</span> 人参与，
          <span>3</span> 条评论
        </p>

      </div>
    </div>

    <div class="comment-list" *ngFor="let comment of commentList">
      <ul>
        <li>
          <div class="comment-list-left">
<!--            <img src="assets/tmp/img/1.png">-->
            <img [src]="comment.icon">
          </div>

          <div class="comment-list-right">
            <h4>{{comment.username}}</h4>
            <div class="comment-list-content">
              <p>{{comment.commentContent}}</p>

<!--              <div>-->
<!--                <img src="assets/tmp/img/1.png">-->
<!--                <img src="assets/tmp/img/1.png">-->
<!--                <img src="assets/tmp/img/1.png">-->
<!--              </div>-->
            </div>

            <div class="comment-list-info">
              <span>{{comment.createDate}}</span>
              <div>
                <span>thumb up {{comment.numberOfThumbUp}}</span>
                <span>reply</span>
                <span *ngIf= "comment.username === this.user.username" (click)="deleteComment(comment.id)" class="comment-list-info-delete">delete</span>
              </div>
            </div>


            <div class="sub-comment-list" *ngFor="let subComment of comment">
              <div class="sub-comment-item">

                <div class="sub-comment-list-left">
                  <img src="assets/tmp/img/1.png">
                </div>

                <div class="sub-comment-list-right">
                  <h4> Cindy @ Sucre</h4>
                  <div class="sub-comment-list-content">
                    <p>hello</p>

<!--                    <div>-->
<!--                      <img src="assets/tmp/img/1.png">-->
<!--                      <img src="assets/tmp/img/1.png">-->
<!--                      <img src="assets/tmp/img/1.png">-->
<!--                    </div>-->
                  </div>
                  <div class="sub-comment-list-info">
                    <span>1s ago</span>
                    <div>
                      <span>thumb up</span>
                      <span>reply</span>
                      <span class="sub-comment-list-info-delete">delete</span>
                    </div>

                  </div>
                </div>
              </div>


            </div>


          </div>

        </li>
      </ul>


    </div>
  </div>

</div>











