

<div class="app-home">

  <div class="main">

    <div class="left">

      <div class="card boutique-article">
        <div class="card-title">
          <h2 class="card-h2">Boutique Article</h2>

          <div>
            <a href="#">Show Detail</a>
          </div>
        </div>

        <div class="card-content">
          Content Area
        </div>
      </div>


      <div class="card hot-topic">
        <div class="card-title">
          <h2 class="card-h2">Hot Topic</h2>

          <div>
            <a href="#">Show Detail</a>
          </div>
        </div>

        <div class="card-content">
          Content Area
        </div>
      </div>


      <div class="card blog-article">
        <div class="card-title">
          <h2 class="card-h2">Blog Article</h2>

          <div>
            <a href="#">Show Detail</a>
          </div>
        </div>

        <div class="card-content">
          <img style="height:100px ; width:200px;" src="/assets/my-assets/images/home/body5.jpeg" alt="blog-image">
          <ul>
            <li>
              <div class="left">

              </div>
              <div class="right">
                <span><i class="fa-regular fa-clock"> 2022-10-30</i></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </li>
          </ul>


        </div>
      </div>


    </div>
    <div class="right">

      <div class="card advertisement">
        <div class="card-title">
          <h2 class="card-h2">Advertisement</h2>

          <div>
            <a href="#">Apply</a>
          </div>
        </div>

        <div class="card-content">
          Content Area
        </div>
      </div>


      <div class="card tags">
        <div class="card-title">
          <h2 class="card-h2">Tags</h2>
        </div>

        <div class="card-content">
          <ul class="ul-tags">
            <li>Java</li>
            <li>Java</li>
            <li>Java</li>
            <li>Java</li>
            <li>Java</li>
            <li>Java</li>
            <li>Java</li>
            <li>Java</li>
            <li>Java</li>
            <li>Java</li>
            <li>Java</li>
            <li>Java</li>
            <li>Java</li>
            <li>Java</li>
            <li>Java</li>
          </ul>
        </div>
      </div>


      <div class="card Website-information">
        <div class="card-title">
          <h2 class="card-h2">Website information</h2>

          <div>
            <a href="#">Show Detail</a>
          </div>
        </div>

        <div class="card-content">
          Content Area
        </div>
      </div>


      <div class="card links">
        <div class="card-title">
          <h2 class="card-h2">Links</h2>

          <div>
            <a href="#">Show Detail</a>
          </div>
        </div>

        <div class="card-content">
          Content Area
        </div>
      </div>

    </div>

  </div>

</div>
