<body>
<div class="user-profile">

  <div class="user-item">
      <span>
        <b>用户名：</b> Sucre
      </span>
  </div>

  <div class="user-item">
      <span>
        <b>注册时间：</b> 2022-10-8
      </span>
  </div>

  <div class="user-item">
      <span>
        <b>邮箱：</b> Sucre
      </span>
  </div>

  <div class="user-item">
      <span>
        <b>上次登入时间：</b> 2022-10-8
      </span>
  </div>


</div>

<div class="user-action">

  <div class="user-action-item">
    <button nz-button nzType="primary" nzDefault>完善信息</button>
  </div>

  <div class="user-action-item">
    <button nz-button nzType="primary" nzDefault>修改头像</button>
  </div>

  <div class="user-action-item">
    <button nz-button nzType="primary" nzDefault>修改密码</button>
  </div>

  <div class="user-action-item">
    <button nz-button nzType="primary" nzDefault>注销退出</button>
  </div>

</div>
<router-outlet></router-outlet>
</body>

