<body>
<div id="app-login">
  <img class="background-image" src="assets/my-assets/images/login/login-bottom-left.svg">
  <main>

    <div class="left">
      <img src="assets/my-assets/images/login/login-left3.svg" alt="login-left"/>
      <img class="login-top-left" src="assets/my-assets/images/login/login-top-left.svg" alt="login-top-left">
      <img class="login-bottom-left" src="assets/my-assets/images/login/login-bottom-left.svg"
           alt="login-bottom-left">
    </div>

    <div class="right">

      <div class="login-form">
        <h2>Login</h2>

        <!--模版驱动表单-->
        <form nzform class="loginForm">


          <nz-form-item>
            <nz-form-control [nzErrorTip]="combineTp1">
              <input
                class="input-form-control"
                [(ngModel)]="username"
                name="username"
                type="text"
                placeholder="Username"
                autocomplete=”off”
                maxLength="20"
                minLength="1"
                required>
              <ng-template #combineTp1 let-control>
                <ng-container *ngIf="control.hasError('maxlength')">Please input Username</ng-container>
                <ng-container *ngIf="control.hasError('required')">Username is required</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>


          <nz-form-item>
            <nz-form-control [nzErrorTip]="combineTp2">
              <input
                class="input-form-control"
                [(ngModel)]="password"
                name="password"
                type="password"
                placeholder="Password"
                autocomplete=”off”
                maxLength="20"
                minLength="1"
                required
              >

              <ng-template #combineTp2 let-control>
                <ng-container *ngIf="control.hasError('maxlength')">Please input Password</ng-container>
                <ng-container *ngIf="control.hasError('required')">Password is required</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </form>

        <button class="login-button" [disabled]="isDisabledButton" (click)="toLogin()">Login</button>
      </div>

      <div class="other-login">
        <p [routerLink]="['/register']">Register</p>
        <p> | </p>
        <p (click)="forgetPassword()">Forget Password</p>
      </div>

      <img class="login-bottom-mid" src="assets/my-assets/images/login/login-bottom-mid.svg"
           alt="login-bottom-mid">

      <img class="login-bottom-right" src="assets/my-assets/images/login/login-bottom-right.svg"
           alt="login-bottom-right">
    </div>
  </main>
</div>
</body>
