body {
  width: 100%;
  height: 100vh;

  #app-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .background-image {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}


main {
  width: 800px;
  min-height: 500px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  .left {
    width: 50%;
    height: 100%;
    border-right: 1px solid #f0eeee;
    position: absolute;
    background-color: #8ea6c2;
    border-radius: 5px;
    //box-shadow: 0 0 20px rgb(124, 159, 199);

    img {
      height: 100%;
      width: 100%;
      position: absolute;

    }

    .login-top-left {
      top: 0;
      left: 0;
      height: 20%;
      width: 20%;
      position: absolute;
    }

    .login-bottom-left {
      bottom: 0;
      right: 60%;
      height: 18%;
      width: 50%;
      position: absolute;

    }


  }


}

.right {
  //box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  position: absolute;
  //background-color: #ffffff;
  //border-right: 1px solid #f0eeee;

  .login-form {
    padding: 20px 60px 20px 60px;
    display: flex;
    flex-direction: column;

    h2 {
      padding-top: 20%;
      padding-bottom: 30px;
      display: flex;
      justify-content: center;
      color: black;
      font-family: cursive;
      //font-family:serif;
    }

    .loginForm {
      width: 100%;

      .input-form-control {
        margin-bottom: 10px;
      }
    }


    > button {
      border: none;
      height: 40px;
      border-radius: 5px;
      background-color: #ff7300;
      color: white;
      cursor: pointer;
      //font-family:serif;
      font-family: cursive;

    }


  }

  .other-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    > p {
      margin-top: 10px;
      margin-right: 5px;
      font-size: 15px;
      color: #808595;
      cursor: pointer;
    }
  }


  .login-bottom-mid {
    height: 18%;
    width: 100%;
    position: absolute;
    right: 50%;
    bottom: 0;
  }

  .login-bottom-right {
    height: 18%;
    width: 50%;
    position: absolute;
    left: 60%;
    bottom: 0;
  }


}
