<div class="card blog-article">
  <div class="card-title">
    <h2 class="card-h2">Blog Article</h2>

    <div>
      <!--            <a href="#">Show Detail</a>-->
    </div>
  </div>

  <div class="card-content">

    <ul *ngFor="let blog of blogList">
      <li>
        <div class="left">

          <div>
            <img [src]="blog.images[0]" alt="blog-image">
          </div>

        </div>
        <div class="right">
          <h2><a href="#">{{blog.title}}</a></h2>

          <p>
            {{blog.blogDescription}}
          </p>

          <div class="blog-info">
            <span><i class="fa-regular fa-clock"> </i>{{blog.updateDate}}</span>
            <span> <i class="fa-regular fa-thumbs-up"></i>{{blog.numberOfThumbUp}}</span>
            <span><i class="fa fa-eye"></i>{{blog.numberOfView}}</span>
            <span><i class="fa-regular fa-comment"></i>{{blog.numberOfComment}}</span>
            <span><i class="fa-regular fa-star"></i>{{blog.numberOfFavorite}}</span>

            <span class="show-detail">
                    <a (click)="showDetail(blog)" class="linking font-medium text-themecolor m-t-10 cursor-pointer">
                      <span>Show Detail</span>
                      <i class="ti-arrow-right"></i>
                    </a>
                  </span>
          </div>


        </div>
      </li>

    </ul>

  </div>

</div>

<!--<router-outlet></router-outlet>-->
