<!--<div class="topbar" id="top">-->
<!--  <div class="header6">-->

<!--    <div class="container po-relative">-->

<!--      &lt;!&ndash;导航栏菜单&ndash;&gt;-->
<!--      <nav class="navbar navbar-expand-lg h6-nav-bar">-->
<!--        <a class="navbar-brand" [routerLink]="['/index']">-->
<!--          <img src="/assets/images/logos/white-text.png" alt="pumkins"/>-->
<!--        </a>-->

<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info"-->
<!--                aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          <span class="ti-menu"></span>-->
<!--        </button>-->

<!--        &lt;!&ndash;菜单&ndash;&gt;-->
<!--        <app-header-menu class="ml-auto"></app-header-menu>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--图片样式1-->
<!--<app-header-content></app-header-content>-->



<nav class="app-header">

  <div class="left">
    <a [routerLink]="['/index']">Home</a>
    <a>news</a>
    <a>emotion</a>
    <a>about</a>
  </div>


  <div class="right">
    <a>login</a>
    <a>register</a>
  </div>


</nav>
