<!--<div class="topbar" id="top">-->
<!--  <div class="header6">-->

<!--    <div class="container po-relative">-->

<!--      &lt;!&ndash;导航栏菜单&ndash;&gt;-->
<!--      <nav class="navbar navbar-expand-lg h6-nav-bar">-->
<!--        <a class="navbar-brand" [routerLink]="['/index']">-->
<!--          <img src="/assets/images/logos/white-text.png" alt="pumkins"/>-->
<!--        </a>-->

<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info"-->
<!--                aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          <span class="ti-menu"></span>-->
<!--        </button>-->

<!--        &lt;!&ndash;菜单&ndash;&gt;-->
<!--        <app-header-menu class="ml-auto"></app-header-menu>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--图片样式1-->
<!--<app-header-content></app-header-content>-->


<div class="app-header">

  <nav class="header-nav">
    <div class="left">
      <a [routerLink]="['/index']">Home</a>
      <a>news</a>
      <a>emotion</a>
      <a>about</a>
    </div>

    <div class="right">
      <img class="right-img" src="assets/my-assets/images/theme/header/right-image.png" alt="pumkins"/>
      <a>login</a>
      <a>register</a>
    </div>
  </nav>

  <div class="body-picture">
    <img class="body-img" [src]="pictureSrc" alt="header-picture" >
  </div>

</div>

