<div class="topbar" id="top">
  <div class="header6">

    <div class="container po-relative">

      <!--导航栏菜单-->
      <nav class="navbar navbar-expand-lg h6-nav-bar">
        <a class="navbar-brand" routerLink="">
          <img src="/assets/images/logos/white-text.png" alt="pumkins"/>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info"
                aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation">
          <span class="ti-menu"></span>
        </button>

        <!--菜单-->
        <app-header-menu class="ml-auto"></app-header-menu>
      </nav>
    </div>
  </div>
</div>

<!--图片样式1-->
<app-header-content></app-header-content>

