<div>
  <div class="markdown-header">

    <div style="margin-top:10px">
      <div style="display: inline; text-align: center; margin-left:20px">
        <a class="navbar-brand" style="color:black" [routerLink]="['/blog']"> < 文章管理 </a>
      </div>

      <div class="markdown-write-div" style="display: inline; width: 100% ;margin-left: 10px">
        <input nz-input [(ngModel)]="title" required maxlength="100"
               style="width: 1286px ; height:36px; border-radius: 20px; border: 0.5px solid darkgray" type="text"
               placeholder="请输入文章标题">
      </div>


      <div class="btn btn-outline-secondary font-14" style="display: inline ; margin-left: 20px; border-radius: 20px;"
           (click)="save()">保存草稿
      </div>

      <div class="btn btn-danger-gradiant font-14" style="display: inline ; margin-left: 20px; border-radius: 20px;">
        发布文章
      </div>
    </div>


    <nav class="navbar navbar-expand-lg h6-nav-bar">


      <!--      <a class="navbar-brand" [routerLink]="['recent']">-->
      <!--        <img src="/assets/images/logos/white-text.png" alt="pumkins"/>-->
      <!--      </a>-->

      <!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info"-->
      <!--              aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation">-->
      <!--        <span class="ti-menu"></span>-->
      <!--      </button>-->

      <!--      <li class="nav-item">-->
      <!--        <a class="btn btn-danger-gradiant font-14" target="_blank"-->
      <!--           href="https://www.wrappixel.com/free-wrapkit-angular-blog">-->
      <!--          save-->
      <!--        </a>-->
      <!--      </li>-->

    </nav>
  </div>
  <div class="markdown-write-body" id="vditor"></div>
</div>
