<!--<div id="main-wrapper">-->

<!--&lt;!&ndash;  头部&ndash;&gt;-->
<!--  <app-header></app-header>-->

<!--  <div class="page-wrapper">-->
<!--    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--    &lt;!&ndash; Container fluid  &ndash;&gt;-->
<!--    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--    <div class="container-fluid">-->
<!--      &lt;!&ndash;       <app-header-content></app-header-content>&ndash;&gt;-->

<!--      <div class="blog-home2">-->
<!--        <div>-->

<!--          <router-outlet></router-outlet>-->
<!--        </div>-->


<!--      </div>-->

<!--    </div>-->
<!--    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--    &lt;!&ndash; End Container fluid  &ndash;&gt;-->
<!--    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--    &lt;!&ndash; Back to top &ndash;&gt;-->
<!--    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--    <a class="bt-top btn btn-circle btn-lg btn-info" href="#top"><i class="ti-arrow-up"></i></a>-->
<!--  </div>-->

<!--&lt;!&ndash;  中部&ndash;&gt;-->


<!--&lt;!&ndash;  底部&ndash;&gt;-->
<!--  <app-footer></app-footer>-->

<!--</div>-->
<div class="app-index">

  <app-header></app-header>

  <app-body> </app-body>



  <app-footer></app-footer>

</div>

