<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">


        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/index']">
                Home
            </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog']">
            Blog
          </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">
                About
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-danger-gradiant font-14" target="_blank" href="https://www.wrappixel.com/free-wrapkit-angular-blog">
                Login
            </a>
        </li>
    </ul>

</div>
