<nz-card class="search-card" [nzBordered]='false'>
  <form class="search-form" nz-form>
    <div class="search-row" nz-row>
      <div class="column-search" nz-col [nzSpan]="3" nzMd='3' nzSm='3'>
        <nz-form-item>
          <nz-form-label nzFor='batchName'>UserName</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="searchOptions.userId" name="searchUser" nzShowSearch>
              <nz-option *ngFor="let user of listOfUser" [nzLabel]="user.username" [nzValue]="user.userId"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="column-search" nz-col [nzSpan]="9" nzMd='4' nzSm='6'>
        <nz-form-item>
          <nz-form-label nzFor='date'>Date</nz-form-label>
          <nz-form-control class="column-search-range-picker">
            <nz-range-picker [nzPlaceHolder]="placeHolder" [(ngModel)]='rangeDate' name="searchDate"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="column-search" nz-col [nzSpan]="6" nzMd='6' nzSm='24'>
        <nz-form-item>
          <nz-form-label nzFor='date'>Tags</nz-form-label>
          <nz-form-control>
            <nz-select nzMode="multiple" name="searchTags"
                       [(ngModel)]="searchOptions.tags" nzPlaceHolder="Please select no more two">
              <nz-option
                *ngFor="let option of listOfOption"
                [nzLabel]="option"
                [nzValue]="option"
                [nzHide]="!isNotSelected(option)"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="column-search" nz-col [nzSpan]="6" nzMd='4' nzSm='24'>
        <button class="search-btn" (click)="getTableList()">Search</button>
        <button class="search-btn" (click)='resetTableList()'>Reset</button>
      </div>
    </div>
  </form>
</nz-card>

<section id="cd-timeline" class="cd-container">
  <span (click)="addNode()" [hidden]="showButton" class="button-list">
  <span nz-icon nzType="plus" nzTheme="outline"></span>
  </span>

  <div *ngFor="let node of nodeList" class="cd-timeline-block">
    <div (click)="edit(node)" class="cd-timeline-img cd-picture">
    </div>

    <div class="cd-timeline-content">
      <h2>{{node.title}}</h2>
      <div class="timeline-content-info">
          <span class="timeline-content-info-title">
            <i class="fa fa-certificate" aria-hidden="true"></i>
            {{node.username}}
          </span>
        <span class="timeline-content-info-date">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
          {{node.createDate}}
          </span>
      </div>
      <p>{{node.timeDescription}}</p>
      <ul class="content-skills">
        <li *ngFor="let tag of node.tags">{{tag}}</li>
      </ul>

      <ul class="content-skills">
        <li *ngFor="let blog of node.linkBlog">{{blog.blogTitle}}</li>
      </ul>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->
</section> <!-- cd-timeline -->


<nz-drawer
  [nzClosable]="false"
  [nzOffsetX]="childrenVisible ? 180 : 0"
  [nzWidth]="600"
  [nzVisible]="visible"
  [nzTitle]="drawerTitle"
  [nzFooter]="footerTpl"
  (nzOnClose)="cancel()">
  <form *nzDrawerContent nz-form>
    <div class="info-item">
      <div class="info-item-left">
        <span>Title:</span>
      </div>

      <div class="info-item-right">
        <input
          required
          class="info-item-input"
          [(ngModel)]="timeNode.title"
          name="title"
          placeholder="please input the title"/>
      </div>
    </div>

    <div class="info-item-create-date">
      <div class="info-item-left">
        <span>Create Date:</span>
      </div>

      <div class="info-item-right">
        <nz-date-picker name="createDate" [(ngModel)]="timeNode.createDate"></nz-date-picker>
      </div>
    </div>

    <div class="info-item">
      <div class="info-item-left">
        <span>Tags:</span>
      </div>

      <div class="info-item-right">
        <nz-tag
          class="info-item-right-tag"
          *ngFor="let tag of tags; let i = index"
          [nzMode]="'closeable'"
          (nzOnClose)="handleClose(tag)"
          name="tags"
        >
          {{ sliceTagName(tag) }}
        </nz-tag>

        <nz-tag *ngIf="!inputVisible" class="editable-tag" name="tags" nzNoAnimation
                (click)="showInput()">
          <span nz-icon nzType="plus"> Tag </span>
        </nz-tag>

        <input
          class="editable-tag"
          #inputElement
          nz-input
          nzSize="small"
          *ngIf="inputVisible"
          type="text"
          [(ngModel)]="inputValue"
          style="width: 78px;"
          name="tag"
          (blur)="handleInputConfirm()"
          (keydown.enter)="handleInputConfirm()"
        />
      </div>
    </div>

    <div class="info-item-link-blog">
      <div class="info-item-left">
        <span>Link Blog:</span>
      </div>

      <div class="info-item-right">
        <button class="login-button" (click)="chooseBlog()">Link Blog</button>
      </div>
    </div>


    <nz-modal
      [(nzVisible)]="isTransferVisible"
      nzTitle="Blog List"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      [nzMask]="true"
      [nzWidth]=800>

      <ng-container *nzModalContent>
        <nz-transfer
          [nzDataSource]="blogTimeLineList"
          nzShowSearch
          [nzListStyle]="{ 'width.px': 400, 'height.px': 300 }"
          [nzRender]="render"
          (nzSelectChange)="select($event)"
          (nzChange)="change($event)"
          name="linkBlog"
        >
          <ng-template #render let-item>{{ item.title }}</ng-template>
        </nz-transfer>
      </ng-container>
    </nz-modal>

    <div class="info-item-description">
      <div class="info-item-left">
        <span>Description:</span>
      </div>

      <div class="info-item-right">
        <textarea class="info-item-description" rows="5" nz-input [(ngModel)]="timeNode.timeDescription"
                  name="description"></textarea>
      </div>
    </div>


    <div class="info-item-update-location">
      <div class="info-item-left">
        <span>Update Location:</span>
      </div>

      <span> No &nbsp; </span>
      <nz-switch [(ngModel)]="isUpdateLocation" name="updateLocation"></nz-switch>
      <span> &nbsp; Yes </span>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 20px;" (click)="cancel()">Cancel</button>
      <button nz-button nzType="primary" (click)="close()">Submit</button>
    </div>
  </ng-template>
</nz-drawer>
