<div class="app-home">

  <div class="main">

    <div class="left">

      <!--      <div class="card boutique-article">-->
      <!--        <div class="card-title">-->
      <!--          <h2 class="card-h2">Boutique Article</h2>-->

      <!--          <div>-->
      <!--            <a href="#">Show Detail</a>-->
      <!--          </div>-->
      <!--        </div>-->

      <!--        <div class="card-content">-->
      <!--          Content Area-->
      <!--        </div>-->
      <!--      </div>-->

      <app-featured-article></app-featured-article>

      <div class="card hot-topic">
        <div class="card-title">
          <h2 class="card-h2">Hot Topic</h2>

          <div>
            <a href="#">Show Detail</a>
          </div>
        </div>

        <div class="card-content">
          <div class="moving-text">
            <div (click)="toNewsDetail()" id="moving-text">{{newsTitle}}</div>
          </div>
        </div>
      </div>

      <app-blog-article></app-blog-article>

    </div>
    <div class="right">
      <app-advertisement></app-advertisement>
      <app-tags></app-tags>
      <app-web-information></app-web-information>
      <app-links></app-links>
    </div>

  </div>

</div>
