<div class="card featured-article">
  <div class="card-title">
    <h2 class="card-h2">Featured Article</h2>

    <div class="switch">
      <span [style.color]="show===true? '#e4ad0d':'blue'" (click)="switchShow(true)">Work</span>
      <span>|</span>
      <span [style.color]="show===false?'#e4ad0d':'blue'" (click)="switchShow(false)">Life</span>
    </div>
  </div>

  <div class="card-content">

    <ul *ngIf="show" class="sucre">
      <li *ngFor="let article of articleList">
        <div class="left">
          <div>
            <img [src]="article.images[0]" alt="blog-image">
          </div>
        </div>


        <div class="right">
          <h2 (click)="showDetail(article)">{{article.title}}</h2>
          <p>
            {{article.blogDescription}}
          </p>
          <span>{{article.day}}</span>
        </div>

      </li>

    </ul>
  </div>
</div>
