<nz-card class="search-card" [nzBordered]='false'>
  <form class="search-form" nz-form>
    <div class="search-row" nz-row>
      <div class="column-search" nz-col [nzSpan]="3" nzMd='3' nzSm='3'>
        <nz-form-item>
          <nz-form-label nzFor='batchName'>UserName</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="searchOptions.userId" name="searchUser" nzShowSearch>
              <nz-option *ngFor="let user of listOfUser" [nzLabel]="user.username" [nzValue]="user.userId"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="column-search" nz-col [nzSpan]="3" nzMd='3' nzSm='3'>
        <nz-form-item>
          <nz-form-label nzFor='batchName'>Category</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="searchOptions.categoryName" name="searchOptions.category" nzShowSearch>
              <nz-option *ngFor="let category of listOfCategory" [nzLabel]="category.categoryName"
                         [nzValue]="category.categoryName"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="column-search" nz-col [nzSpan]="4" nzMd='4' nzSm='4'>
        <nz-form-item>
          <nz-form-label nzFor='batchName'>Title</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              nzSize="default"
              required
              class="info-item-input"
              [(ngModel)]="searchOptions.title"
              name="title"/>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="column-search" nz-col [nzSpan]="6" nzMd='4' nzSm='12'>
        <nz-form-item>
          <nz-form-label nzFor='date'>Tags</nz-form-label>
          <nz-form-control>
            <nz-select nzMode="multiple" name="searchTags"
                       [(ngModel)]="searchOptions.tags" nzPlaceHolder="Please select no more three">
              <nz-option
                *ngFor="let option of listOfOption"
                [nzLabel]="option"
                [nzValue]="option"
                [nzHide]="!isNotSelected(option)"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="column-search" nz-col [nzSpan]="9" nzMd='4' nzSm='6'>
        <nz-form-item>
          <nz-form-label nzFor='date'>Date</nz-form-label>
          <nz-form-control class="column-search-range-picker">
            <nz-range-picker [nzPlaceHolder]="placeHolder" [(ngModel)]='rangeDate' name="searchDate"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="column-search" nz-col [nzSpan]="3" nzMd='3' nzSm='24'>
        <button class="search-btn" (click)="getRecentBlogList()">Search</button>
        <button class="search-btn" (click)='resetTableList()'>Reset</button>
      </div>
    </div>
  </form>
</nz-card>


<div class="card featured-article">

  <div class="card-content">

    <ul class="sucre">
      <li *ngFor="let blog of blogList">
        <div class="left">
          <div>
            <img [src]="blog.images[0]" alt="blog-image">
          </div>
        </div>

        <div class="right">
          <h2>{{blog.title}}</h2>
          <p>{{blog.blogDescription}}</p>

          <div class="blog-info">
            <span><i class="fa-regular fa-clock"> </i>{{blog.createDate}}</span>
            <!--            <span> <i class="fa-regular fa-thumbs-up"></i>123</span>-->
            <span class="blog-info-view"><i class="fa fa-eye"></i>{{blog.numberOfView}}</span>
            <!--            <span><i class="fa-regular fa-comment"></i>123</span>-->
            <!--            <span><i class="fa-regular fa-star"></i>123</span>-->

            <span class="show-detail">
                    <a (click)="showDetail()" class="linking font-medium text-themecolor m-t-10 cursor-pointer">
                      <span>Show Detail</span>
                      <i class="ti-arrow-right"></i>
                    </a>
                  </span>
          </div>
        </div>

      </li>

    </ul>
  </div>

  <nz-pagination class="page-helper-blog" [nzPageIndex]="pageIndex" [nzTotal]="nzTotalPages"
                 [nzPageSize]="nzPageSize"
                 [nzItemRender]="renderItemTemplate"></nz-pagination>
  <ng-template #renderItemTemplate let-type let-page="page">
    <ng-container [ngSwitch]="type">
      <a *ngSwitchCase="'page'" (click)="addIndex(page,0)">{{ page }}</a>
      <a *ngSwitchCase="'prev'" (click)="addIndex(page, -1)">Previous</a>
      <a *ngSwitchCase="'next'" (click)="addIndex(page,1)">Next</a>
      <a *ngSwitchCase="'prev_5'" (click)="addIndex(page,-5)"><<</a>
      <a *ngSwitchCase="'next_5'" (click)="addIndex(page,5)">>></a>
    </ng-container>
  </ng-template>

</div>





<!--</div>-->


<!--&lt;!&ndash; Row  &ndash;&gt;-->
<!--<div class="container spacer">-->
<!--  <div class="row justify-content-center">-->
<!--    &lt;!&ndash; Column &ndash;&gt;-->
<!--    <div class="col-md-8 no-trans text-center">-->
<!--      <h2 class="title">Recent Blogs</h2>-->
<!--      <h6 class="subtitle">-->
<!--        You can relay on our amazing features list and also our customer-->
<!--        services will be great experience for you without doubt and in no-time-->
<!--      </h6>-->
<!--    </div>-->
<!--    &lt;!&ndash; Column &ndash;&gt;-->
<!--  </div>-->
<!--  <div class="row m-t-40 justify-content-center">-->
<!--    &lt;!&ndash; Column &ndash;&gt;-->
<!--    <div-->
<!--      class="col-md-8 no-trans border-bottom mb-4"-->
<!--      *ngFor="let bl of service.Blogs"-->
<!--    >-->
<!--      <div class="card" data-aos="flip-left" data-aos-duration="1200">-->
<!--        <div class="row">-->
<!--          <div class="col-md-2 no-trans">-->
<!--            <span class="text-dark font-medium">{{ bl.blogDate }}</span>-->
<!--            <h6 class="card-subtitle font-12 mt-1">By John Deo</h6>-->
<!--          </div>-->
<!--          <div class="col-md-7 no-trans">-->
<!--            <h5 class="font-medium cursor-pointer" (click)="viewDetail(bl.id)">-->
<!--              {{ bl.heading.substring(0, 50) }}..-->
<!--            </h5>-->
<!--            <p class="m-t-20">-->
<!--              {{ bl.subHeading }}-->
<!--            </p>-->
<!--          </div>-->
<!--          <div class="col-md-3 no-trans">-->
<!--            <a-->
<!--              class="linking font-medium text-themecolor m-t-10 cursor-pointer"-->
<!--            >-->
<!--              <span (click)="viewDetail(bl.id)">Show Detail</span>-->
<!--              <i class="ti-arrow-right"></i>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
