.ml-auto, .mx-auto {
  margin-left: auto !important
}

.myheader {
  min-height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  background-size: cover;
  background-position: center center;

  .title {
    color: white;
    font-weight: 700;
    font-size: 70px;
    line-height: 100px;
  }

  .subtitle {
    color: white;
    line-height: 30px;
  }
}
