<div class="card featured-article">
  <div class="card-title">
    <h2 class="card-h2">Featured Article</h2>

    <div>
      <a href="#">Show Detail</a>
    </div>
  </div>

  <div class="card-content">

    <!--    <ul>-->
    <!--      <li *ngFor="let img of imgList">-->
    <!--        <div class="left">-->
    <!--          <div>-->
    <!--            <img [src]="img" alt="blog-image" style="height: 100px">-->
    <!--          </div>-->
    <!--        </div>-->

    <!--        <div class="right">-->
    <!--          <h2>The basic use of React</h2>-->
    <!--          <p> install React package-->
    <!--            python npm install react-->
    <!--            use react-->
    <!--            react basic use-->
    <!--          </p>-->
    <!--          <span>two days ago</span>-->
    <!--        </div>-->

    <!--      </li>-->
    <!--    </ul>-->


    <ul class="sucre">
      <li *ngFor="let img of imgList">
        <div class="left">
          <div>
            <img [src]="img" alt="blog-image" >
          </div>
        </div>


        <div class="right">
          <h2>The basic use of React</h2>
          <p> install React package
            python npm install react
            use react
            react basic use
          </p>
          <span>two days ago</span>
        </div>

      </li>

    </ul>

  </div>
</div>
