<div class="reveal">
  <div class="slides">
    <!--				<section data-transition="zoom">Slide 1</section>-->
    <section data-auto-animate data-transition="fade">Slide 1</section>
    <section data-transition="fade">Slide 2</section>
    <section>
      <img src="/assets/shark.png">
      let's start
    </section>
    <section data-state="make-it-pop">
      <section>Slide 3</section>
      <section>Slide 4</section>
      <section>Slide 5</section>
      <section
        data-background-video="/assets/whale.mp4"
      >Slide 6</section>
    </section>
    <section>Slide 7</section>

    <section data-markdown="examples/markdown.md"
             data-separator="^\n\n\n"
             data-separator-vertical="^\n\n"
             data-separator-notes="^Note:"
             data-charset="iso-8859-15">
      <!--
                    Note that Windows uses `\r\n` instead of `\n` as its linefeed character.
                    For a regex that supports all operating systems, use `\r?\n` instead of `\n`.
                -->
    </section>
    <section data-auto-animate>
      <h1>Implicit</h1>
    </section>
    <section data-auto-animate>
      <h1>Implicit</h1>
      <h1>Animation</h1>
    </section>

    <section data-auto-animate>
      <img src="/assets/shark.png">
    </section>
    <section data-auto-animate>
      <img src="/assets/shark.png" style="height:400px;width:400px">
      <img src="/assets/shark-a.png" style="height:400px;width:400px">
    </section>

    <section>
      <h2>Some Slide</h2>

      <aside class="notes">
        Shhh, these are your private notes 📝
      </aside>
    </section>
  </div>
</div>
