<div class="card links">
  <div class="card-title">
    <h2 class="card-h2">Links</h2>

    <div>
<!--      <a href="#">Show Detail</a>-->
    </div>
  </div>

  <div class="card-content">
    <span class="linkin" (click)="toLink(linkin)">[ Linkin - Sucre ]</span>
    <span class="linkin" (click)="toLink(linkin_cindy)">[ Linkin - Cindy ]</span>
    <br/>
    <span class="linkin" (click)="toLink(github)">[ Github - Sucre ]</span>
    <span class="linkin" (click)="toLink(csdn)">[ 0ld Blog - Sucre]</span>
  </div>
</div>
